.myBorder {
  width: 95%;
  margin: auto;
  margin-top: 20%;
  display: flex;

  flex-direction: column;
  
}
h1 {
  color: white;
}
.myInput {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 18px;

  backdrop-filter: grayscale(47);
}
body {
  background-image: url(./Images/bgImage.jpg);
  background-repeat: no-repeat;

  background-size: 161vmax;
}
